.book-display {
    margin: 10px;
    background-color: beige;
    border-radius: 10px;
    padding: 5px;
}

.book-grid {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw;
    grid-template-rows: repeat(6, 40vh);
}